@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);
li a{
  color: #5E5E5E !important;
}

.navbar a, a:hover, a:focus, a:active, a.active {
  outline: 0
}
/*a {
  color: #fed136
}*/
.navbar a:hover, a:focus, a:active, a.active {
  color: #1F3A93 !important;
  /*#354E9E*/
}

.navbar-default {
  background-color: rgba(255, 255, 255, 0.91) !important;
  /*border-color: transparent*/
}
.navbar-default .navbar-brand {
  color: black !important ;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
  font-size: 2em;


}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:active, .navbar-default .navbar-brand.active {
  /*color: black!important;*/
  /*color: red !important;*/
}
.navbar-default .navbar-collapse {
  border-color: rgba(255, 255, 255, .02)
}
.navbar-default .navbar-toggle {
  background-color: white !important;
  border-color: gray !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: gray !important;
  outline: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #1F3A93
}
.navbar-default .nav li a {
  font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: #fff
}
.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: #1F3A93;
  outline: 0;
}
.navbar-default .navbar-nav>.active>a {
  border-radius: 0;
  color: #fff;
  background-color: #1F3A93
}
.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  color: #fff;
  background-color: #1F3A93!important;
}

@media (min-width:768px) {
  .navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0
  }
  .navbar-default .navbar-brand {
    font-size: 2.67em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s
  }
  .navbar-default .navbar-nav>.active>a {
    border-radius: 3px
  }
  .navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0
  }
  .navbar-default.navbar-shrink .navbar-brand {
    font-size: 1.5em
  }


}

* {
  margin: 0;
  padding: 0;
}


#wrap {
  margin: 0 auto 30px;
}





fieldset {
  border: none;
}

.login {
  position: relative;
  width: 350px;
  display: none;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 15px solid #ECF0F1;
  left: 81%;
  position: absolute;
  top: -10px;
}

.formholder {
  background: #ecf0f1;
  width: 350px;
  border-radius: 5px;
  padding-top: 5px;
}
.formholder input[type="email"], .formholder input[type="password"] {
  padding: 7px 5px;
  margin: 10px 0;
  width: 96%;
  display: block;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  -webkit-transition: 0.3s linear;
  -moz-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.formholder input[type="email"]:focus, .formholder input[type="password"]:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #1abc9c;
}
.formholder input[type="submit"] {
  background: #1F3A93;
  padding: 10px;
  font-size: 20px;
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  border-radius: 5px;
}
.formholder input[type="submit"]:hover {
  background: #354E9E;
}

.randompad {
  padding: 10px;
}

.forgot-pass p {
  text-align: center;
  padding-bottom:0;
  font-size: 16px;
  color:#1F3A93;
}

.forgot-pass p:hover {
    cursor:pointer;
    text-decoration: underline;
  }
/*
a {
  color: #ecf0f1;
  text-decoration: none;
}
a:hover {
  color: #1abc9c;
}*/

.scrolling-line {
    position: relative;
    min-height: 1%;
}

.line-color {
    background-color: #1F3A93;
}

body {
  background: white;
  position: relative;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
}

h1, h2 {
  font-weight: 700;
}

h3 span {
  color: #286090;
}

section {
  padding: 60px 0 30px 0;
  border-bottom: 1px solid #c1e1ec;
}
section p {
  font-size:120%;
  text-align:justify;
}

#web-development,
#mobile-development {
  padding-bottom: 0;
}

section:last-child {
  border-bottom: none;
}

.navbar2 .nav {
  background: #1F3A93;
}
/*
#nav {
  margin-top:-1px;
}*/

.navbar2 .nav a {
  color: whitesmoke;
  font-size:125%;
}

.navbar2 .nav li a:hover,
.navbar2 .nav li a:focus {
  background: #3366FF;
}

.navbar2 .nav .active {
  font-weight: bold;
  background: #2E5CE6;
}

.navbar2 .nav .nav {
  display: none;
}

 .navbar2 .nav .active .nav {
  display: block;
}

.navbar2 .nav .nav a {
  font-weight: normal;
  font-size: 1em;
}

.navbar2 .nav .nav span {
  margin: 0 5px 0 2px;
}

.navbar2 .nav .nav .active a,
.nav .nav .active:hover a,
.nav .nav .active:focus a {
  font-weight: bold;
  padding-left: 30px;
  border-left: 5px solid #CDCDCD;
}

.navbar2 .nav .nav .active span,
.navbar2 .nav .nav .active:hover span,
.navbar2 .nav .nav .active:focus span {
  display: none;
}

.application {
  border-top: 1px solid #c1e1ec;
}

.affix {
  top: 71px;
}

.affix, 
.affix-bottom {
    width: 213px;
}

.affix-bottom {
  position: absolute;
}

footer {
  border-top: 1px solid #c1e1ec;
  height: 50px;
}

footer p {
  line-height: 50px;
  margin-bottom: 0;
}

@media (min-width:1200px) {
  .affix, 
  .affix-bottom {
    width: 263px;
  }
}

.header {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    z-index: 2;
    min-width:1175px;
    border-bottom:3px solid #1F3A93;
}

.header #navbarlogo {
  float:left;
}

.header #navbarlogo img {
    height: 35%;
    width: 35%;
    margin-top:15px;
    margin-left:45px;
}

.header #lynbrookdeca {
  float:left;
  margin-top:20px;
  font-family: 'Raleway', sans-serif;
  margin-left:-40px;
  margin-top:18px;
  font-size:200%;
  font-weight:300;
}

.header #lynbrookdeca a {
  color:#000;
  text-decoration:none;
}

.navbar {
  float:right;
}
    
.navbar ul {
/*  margin-top:15px;*/
  margin-right:30px;
  padding:0;
}
    
.navbar li {
  list-style:none;
  font-weight:none;
  font-size:110%;
  font-family: 'Raleway', sans-serif;
  padding-top:28px;
  height:29px;
  float:left;
  font-weight:300;

}

.navbar a {
  color: #000;
  text-decoration:none;
    padding-left: 15px;
    padding-right: 15px;
}

.s a:hover {
    background-color: #1F3A93;
    color: #fff !important;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 28px !important;
    padding-bottom: 21px !important;
}

.login-button {
    background-color:white;
    width:80px;
    height:35px;
    font-family: 'Raleway', sans-serif;
    font-size:95%;
    border:1.5px solid #4960A8;
    padding:1px;
    margin-top:18px;
    margin-left:19px;
}

.signup-button {
    background-color:white;
    width:80px;
    height:35px;
    font-family: 'Raleway', sans-serif;
    font-size:95%;
    border:1.5px solid #27AE60;
    padding:1px;
    margin-left:15px;
}

.login-button:hover {
    background-color:#4960A8;
    color:white;
    font-weight:400;
}

.signup-button:hover {
    background-color:#27AE60;
    color:white;
    font-weight:400;
}

.fixed-background {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.fixed-background-conferences {
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

.fixed-background-conferences h2 {
    color:#1F3A93;
}


.fixed-background-conferences-top {
    height:350px;
    background-size:1500px;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center top;
    clear:both;
    background-image: url("../img/events-top.jpg");
    background-color:#000;
    background-size: 100% auto;
}

.background-events
{
  background-image: url("../img/events-top.jpg");
}


.fixed-background h1, .fixed-background h2 {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 1170px;
    text-align: center;
    opacity: 1.0;
    text-shadow: 10 1px 3px rgba(0, 0, 0, 0.3);
    color: #000;
}

.fixed-background h1 span, .fixed-background h2 span {
    box-shadow: 0 0 50px rgba(0, 0, 0, 2.5);
    background-color: #fff;
    opacity: 0.8;
    padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 100%;
    font-weight: 300;
}

.fixed-background-top h1, .fixed-background-top h2 {
    position: absolute;
    left: 50%;
    top: 2.55%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    max-width: 1170px;
    text-align: center;
    opacity: 1.0;
    text-shadow: 10 1px 3px rgba(0, 0, 0, 0.3);
    color: #000;
    margin-top:-120px;
}

.fixed-background-top h1 span, .fixed-background-top h2 span {
    box-shadow: 0 0 50px rgba(0, 0, 0, 2.5);
    background-color: #fff;
    opacity: 0.8;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    padding-left: 6%;
    padding-right: 6%;
    font-size: 200%;
    font-weight: 200;
}

.main-content {
    /* you need to assign a min-height to the main content so that the children can inherit it*/
    height: 100%;
    position: relative;
    z-index: 1;
}

.scrolling-footer {
    position: relative;
    height: 25%;
    z-index: 2;
}

.scrolling-footer a {
  text-decoration:none;
}

.footer-color {
    text-align: center;
    background-color: #000;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 20px;
    padding: 2.5%;
}

.footer-color p {
    padding: 1%;
}

.footer-color a {
    color: #fff;
}

.footer-color a:hover {
    color: #1F3A93;
}

.shifted-bullet {
    margin-left:40px;
    font-size:120%;
}

.event-table {
    width:100%;
    margin-top:15px;
}

.event-table table,td,th {
    border: 1.5px solid black;
    border-collapse:collapse;
    padding:5px;
    padding-bottom:0;
}

.container button {
    background-color:#1F3A93;
    border:none;
}

.container button:hover {
    background-color:#192E76;
}